@page "/"

<PageTitle>Home</PageTitle>

<PageScript Src="./Components/Pages/Home.razor.js" />

<h1>Basic sample</h1>

<p>
    This is an app that demonstrates basic usage of the <b>@("<PageScript>")</b> component.
</p>

<p>
    The script for this page just logs each of the available callbacks.
</p>

<p>
    See the <a href="example">example page</a> for a more interesting example.
</p>
